.admin-user-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 4fr));
    grid-gap: 1em;
    grid-auto-rows: 1fr;

    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 1em;
    height: 100%;
    margin: auto 1em;

    .admin-user {
        background-color: #e7e7fd;
        border-radius: 24px;
        border: 1px solid #6167FF;
        padding: 1em;
        display: flex;
        flex-direction: column;
        height: fit-content;
    }
}
