{% block subject %}Confirmation de votre compte{% endblock %}

{% block body %}
    <p>Bonjour {{ user.username }},</p>

    <p>Nous sommes heureux de vous confirmer que votre compte a été créé avec succès.</p>

    <p>Vous pouvez maintenant vous connecter à notre site en utilisant votre adresse e-mail et votre mot de passe.</p>

    <p>Merci de votre inscription !</p>

    <p>Cordialement,</p>
    <p>L'équipe de notre site</p>



    <p>Please click the following link to activate your account:</p>

    <p><a href="{{ url }}">{{ url }}</a></p>


{% endblock %}
